In [7]:
import db_utils as db_utils
import sqlite3

conn = sqlite3.connect('employee.sqlite')
print("Opened database successfully")

# db_utils.create_db(conn)
# db_utils.populate_db(conn)

res = conn.execute('SELECT * FROM EMPLOYEE')
print(res.fetchall())

conn.close()

conn = sqlite3.connect('employee.sqlite')
print("Opened database successfully")

Opened database successfully
[('James', 'E', 'Borg', '888665555', '1937-11-10', '450 Stone, Houston, TX', 'M', 55000, None, 1), ('Franklin', 'T', 'Wong', '333445555', '1955-12-08', '638 Voss, Houston, TX', 'M', 40000, '888665555', 5), ('John', 'B', 'Smith', '123456789', '1965-01-09', '731 Fondren, Houston, TX', 'M', 30000, '333445555', 5), ('Jennifer', 'S', 'Wallace', '987654321', '1941-06-20', '291 Berry, Bellaire, TX', 'F', 43000, '888665555', 4), ('Alicia', 'J', 'Zelaya', '999887777', '1968-01-19', '3321 Castle, Spring, TX', 'F', 25000, '987654321', 4), ('Ramesh', 'K', 'Narayan', '666884444', '1962-09-15', '975 Fire Oak, Humble, TX', 'M', 38000, '333445555', 5), ('Joyce', 'A', 'English', '453453453', '1972-07-31', '5631 Rice, Houston, TX', 'F', 25000, '333445555', 5), ('Ahmad', 'V', 'Jabbar', '987987987', '1969-03-29', '980 Dallas, Houston, TX', 'M', 25000, '333445555', 5)]
Opened database successfully

## QUESTÃO 1

In [ ]:
# CONSULTA 01 - Retorna todos os funcionarios que trabalham no projeto Computerization
c1 = conn.execute('''
SELECT E.Fname, E.Lname 
FROM EMPLOYEE AS E 
    INNER JOIN WORKS_ON AS WO 
        ON E.ssn = WO.Essn     
    INNER JOIN PROJECT AS P
        ON P.Pname = 'Computerization' AND WO.Pno = P.Pnumber
''')
print("Resultado CONSULTA 01")
print(c1.fetchall())
print("-------")
print('\n')

# CONSULTA 02 - Retorna o nome dos dependentes do John Smith
c2 = conn.execute('''
SELECT D.Dependent_name
FROM DEPENDENT AS D
    INNER JOIN EMPLOYEE AS E 
        ON E.ssn = D.Essn AND E.Lname = 'Smith'
''')
print("Resultado CONSULTA 02")
print(c2.fetchall())
print("-------")
print('\n')

# CONSULTA 03 - Retorna média dos salários de cada departamento

# CONSULTA 04

# CONSULTA 05

Resultado CONSULTA 01
[('Franklin', 'Wong'), ('Ahmad', 'Jabbar')]
-------


Resultado CONSULTA 02
[('Alice',), ('Joy',), ('Theodore',)]
-------

## QUESTÃO 2

In [9]:
# Último exemplo slide
q2_c1 = conn.execute('''
SELECT D.Dnumber, COUNT(*)
FROM DEPARTMENT AS D, EMPLOYEE AS E
WHERE D.Dnumber = E.Dno AND E.SALARY > 40000
GROUP BY D.Dnumber
''')
print("Resultado QUESTÃO 02")
print(q2_c1.fetchall())
print("-------")
print('\n')

Resultado QUESTÃO 02
[(1, 1), (4, 1)]
-------

Vemos que essa consulta retorna o número dos departamentos que possuem funcionários que recebem mais de 40000 de salário.

In [ ]:
# Último exemplo slide - modificado
# q2_c1 = conn.execute('''
# SELECT D.Dnumber, COUNT(*)
# FROM DEPARTMENT AS D, EMPLOYEE AS E
# WHERE D.Dnumber = E.Dno AND E.SALARY > 40000 AND D.Dnumber IN (
#                      SELECT E.Dno FROM EMPLOYEE AS E GROUP BY E.Dno HAVING COUNT(*) > 5)
# GROUP BY D.Dnumber
# ''')
# print("Resultado QUESTÃO 02")
# print(q2_c1.fetchall())
# print("-------")
# print('\n')

## QUESTÃO 3

## QUESTÃO 4

In [11]:
conn.close()